body{
    margin:0px;
    background-color: #A8A079;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
} 


.caja{
    background-color: #CFC595;
    width: 45em;
    height: 20em;
    border-radius: 2em;
    text-align: center;    
    justify-content: center;
}

.titulo{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 1em;
    line-height: 1.7em;
    font-family: 'Anton', sans-serif;
    color: #484424;
    padding-top: .6em;
}

.text{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 1em;
    line-height: 1.7em;
    font-family: 'Charis SIL', serif;
    color: #484424;
}

h3{
    margin: 1em;
    line-height: 1.7em;
    font-family: 'Charis SIL', serif;
    color: #282404;
}

.counter{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    width: 100%;
    height: 30%;
    display: none;
    justify-content: center;
    align-items: center;
}

.finish{
    width: 100%;
    height: 30%;
    display: none;
    justify-content: center;
    align-items: center;
}

.boton{
    border-radius: 1.2em;
    font-size: 1em;
    font-family: 'Anton', sans-serif; 
    color: #F5E9B0;
    background-color: #69644B;
    border: .2em solid #484424;
}

.numero{
    margin: 2em;
    border: .2em solid #484424;
    height: 1.7em;
    border-radius: .5em;
}

.boton:hover{
    background-color: #000000;
    opacity: .5;
}

/* toggle */
.uno{
    display: none;
}

.dos{
    display: flex;
}

